<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1300px">

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>Welcome to Trade-Trade</h1>
    </div>
    
    <div class="w3-padding-64">
  <%= link_to "Sign up", new_user_registration_path %> <br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> <br>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>Building renessaince men and women</h1>
      
           <img src="http://awbusiness-solutions.com/wp-content/uploads/2015/04/farmer-and-tradesman-mechanic-handshake_zkI9vDL_.jpg" class="w3-margin w3-circle" alt="Person" style="width:50%">
    
     
      <div class="w3-left-align w3-padding-large">
        <p>Welcome to the exchange platform that lets you learn new skills at no cost... Simply sign up, list your skills, and get to learning! </p>
     
      </div>
    </div>
  </div>
</div>


