<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/w3images/profile_girl.jpg');
    min-height: 100%;
}
</style>
<body>
<!-- Sidebar with image -->

<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
<!-- Page Content -->

  <!-- Menu icon to open sidebar -->
  <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    
    <img src="http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png" alt="Person" style="width:17%">
    
    <h1 class="w3-jumbo"><b> <%= current_user.email %> </b></h1>
    
    <p>THIS IS YOUR PROFILE.</p>
    <p>Skills That You Have: <%= current_user.have_id %></p>
    <p> Skills That You Want: <%= current_user.want_id %> </p>
    
    <img src="/w3images/profile_girl.jpg" class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;">
    <img src="/w3images/profile_girl.jpg" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333">
    <button class="w3-button w3-light-grey w3-padding-large w3-margin-top">
      
     <li><a href="/match/index">VIEW MATCHES</a></li>

     
    </button>



  </header>